<a href="https://colab.research.google.com/github/Annie-jain/ML-DS/blob/main/transaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
import numpy as np
from sklearn import linear_model

In [ ]:
pwd

'/content'

In [ ]:
df = pd.read_csv(r'/transactions.csv')
df.head()

   transaction_id  ...                                         extra_data
0        83726035  ...  {"subtag": "Meat", "source": {"source_id": "A-...
1        83726132  ...  {"subtag": "Grocery", "source": {"source_id": ...
2        83771233  ...  {"subtag": "Grocery", "source": {"source_id": ...
3        83771214  ...  {"subtag": "Grocery", "source": {"source_id": ...
4        83771198  ...  {"subtag": "grocery", "source": {"source_id": ...

[5 rows x 6 columns]

# New Section

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')